<a href="/games/{{id}}"  class="card game-card shadow-sm pt-3 mb-5 bg-white rounded " style="width: 18rem;">
<img class="card-img-top" src="/images/{{image}}" alt="Card image cap">
  <div class="card-body d-flex align-content-end flex-wrap">
    <h5 class="d-flex align-content-end shadow-lg p-3 mb-2 bg-white rounded card-title">{{title}}</h5>
    </div>
</a>


{{!-- Source of emoji
https://www.htmlsymbols.xyz/games-symbols 
https://www.compart.com/en/unicode/U+1F6D2
--}}