<div class="game-card">
        <a href="/games/{{id}}">
                <img src="/images/{{image}}" alt="missing photo">
        </a>
</div>

<div class="gametext-card" flex>
<p class="display-icon">
        &#127918; {{title}}
        <span > &#10084 </span>   
        <span> &#128722 </span> 
</p>
</div>

{{!-- Source of emoji
https://www.htmlsymbols.xyz/games-symbols 
https://www.compart.com/en/unicode/U+1F6D2
--}}

