  {{!-- <div class="profile-game-card container col-lg-3 col-md-6 d-flex">
    <section class="row">
      <div class="col">
      {{#each games as |game index|}}
        {{>game-list}}
      {{/each}}
      </div>
    </section>
  </div> --}}

    <div class="profile-game-card container">
    <section class="row">
      <div class="d-flex align-content-start flex-wrap">
      {{#each games as |game index|}}
        {{>game-list}}
      {{/each}}
      </div>
    </section>
  </div>



<script src="./js/game.js"></script>