{{#if logged_in}}
<section>
    <section class="card post">
        <h2>New post:</h2>
    <header><h3>Title: </h3><input type="text" id="title"></input></header>
    <div><p>Content:</p><input type="text" id="content"></input></div>
    <footer><button type="submit" id="postBtn">Post</button></footer>
</section>
{{/if}}
<section>
    {{#each posts as |post|}}
        {{> post-details}}
    {{/each}}
</section>
</section>
<aside>

</aside>

<script src="./js/homepage.js"></script>