<section>
<section>
    {{#each posts as |post|}}
        {{> post-details}}
    {{/each}}
</section>
</section>
<aside>

</aside>


{{!-- delete below when website is fully functional... Yee's testing code. --}}
<div class = "imageupload-form col">
  <h1>Upload a File</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".jpg, .png, .gif">
    <button type="submit">Upload</button>
  </form>
</div>
  <script src="./js/image.js"></script>