<div class = "col">
  <h1>Upload a File</h1>
  <form class ="imageupload-form" action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" accept=".jpg, .png, .gif">
    <button type="submit">Upload</button>
  </form>
</div>
  <script src="./js/image.js"></script>