    <div class="container">
        <div class="row">
            <div class="login-card col">
                <h2>Login</h1>
                <form>

                    <div class="form-group">
                        <label for="username-login">Username:</label>
                        <input type="text" id="username-login"/>
                    </div>

                    <div class="form-group">
                        <label for="password-login">Password:</label>
                        <input type='text' id="password-login"/>
                    </div>

                    <button type = "submit">login</button>
                </form>
                    <a href="/signup"><button>Sign-up</button></a>
            </div>
        </div>
    </div>

<script src="./js/login.js"></script>